DATABASE_URL="postgresql://kino75_user:CHANGE_STRONG_DB_PASSWORD@localhost:5432/kino75?schema=public"
NEXTAUTH_SECRET="CHANGE_GENERATED_SECRET"
NEXTAUTH_URL="http://SERVER_IP"
NODE_ENV="production"
NEXT_TELEMETRY_DISABLED="1"
